@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card {
  transition: all 300ms;
 }
 
 .card:hover {
  opacity: 0.8;
  transform: scale(1.10);
 }

 .kaler {
  background: rgb(20,19,63);
background: linear-gradient(90deg, rgba(20,19,63,1) 0%, rgba(102,22,162,1) 50%, rgba(255,255,255,1) 100%);
 }

