@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Module cards  */
.card {
  transition: all 300ms;
 }
 
 .card:hover {
  opacity: 0.8;
  transform: scale(1.10);
 }

 .kaler {
  background: rgb(20,19,63);
background: linear-gradient(90deg, rgba(20,19,63,1) 0%, rgba(102,22,162,1) 50%, rgba(255,255,255,1) 100%);
 }

 /* Responsive Video  */
 .containerVideo {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.ellipse1 {
  position: absolute;
width: 550px;
height: 300px;
/* left: 141.06px;
top: 57px; */

background: rgba(5, 0, 255, 0.33);
/* background: white; */
filter: blur(200px);
transform: rotate(-100.76deg);
}
.ellipse2 {
position: absolute;
width: 400px;
height: 300px;
/* left: 946.47px;
top: 57px; */

background: rgba(112, 16, 187, 0.8);
/* background: white; */
filter: blur(200px);
transform: rotate(45.79deg);
}

.card3{
  background: linear-gradient(105.42deg, rgba(255, 255, 255, 0.08) -3.07%, rgba(255, 255, 255, 0.06) 49.04%, rgba(255, 255, 255, 0) 97.84%);
/* opacity: 0.8; */
filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
border-radius: 40px;
}

